* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.promo {
  height: 800px;
  background: url(../img/main_bg.png) center center/cover no-repeat;
  padding: 38px 0 61px 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}